  <%- include partials/innerheader %>
<!-- Page Content Start -->
<div class="app_main">
                  
   <%- include partials/innersidebar %>

<div class="app_content">
  <div class="dsbrd_container">
    <div class="package_head">
        <h2>My Services</h2>
        <%- include partials/serviceslist %>
        </div>
      </div>
    <div class="createpackage_wrapper create_newsletter">
      <div class="createpackage_head">
<!--         <button class="btn back_btn"><i class="fas fa-arrow-left"></i></button>
 -->        <h2>Create New Live Chat</h2>
      </div>
      <form id="formoid" enctype="multipart/form-data" onsubmit="return false">

         <input type="text" class="form-control" placeholder="Enter your title here" name="serviceTypeId" id="serviceTypeIds" value="668b8486-64dd-43b7-9d24-563944009ebe" style="display: none;">

        <!--   <input type="text" class="form-control" placeholder="Enter your title here" name="serviceTypeId" id="serviceTypeIds" value="979441d9-39fb-4bd9-a539-31baf61e4efe" style="display: none;"> -->

          <input type="text" class="form-control" placeholder="Enter your title here" name="serviceName" id="serviceName" value="LiveChat" style="display: none;">

      <div class="createpackage_form">
        <div class="form-group">
          <label>Live Chat Title </label>
          <input type="text" class="form-control" placeholder="Enter your title here" name="title" id="title" required="required">
          <h5>Max 200 Characters</h5>
        </div>
        <div class="form-group">
          <label>Description</label>
         <!--  <input type="text" class="form-control" placeholder="Enter your description here" name="description1" id="description1"> -->
          <textarea class="form-control" placeholder="Enter your description here"name="description1" id="description1" required="required"></textarea>
          <h5 style="margin-top: 10px;">Max 200 Characters</h5>
        </div>
         <div class="form-group">
          <label>Enter Url</label>
          <input type="text" class="form-control" placeholder="Enter your Url" name="description2" id="description2">
          
          <h5>Max 200 Characters</h5>
        </div>
        <!--  <div class="form-group">
         <label>Price</label>
          <div class="price_box">
              <img src="images/doller-icon.png" alt="images">
              <input type="text" class="form-control" name="onlynumbers" placeholder="Ex. 200" id="price">
            </div>
        </div> -->
        <!-- <div class="form-group">
         <label>Availability</label>
          <input type="text" class="form-control" placeholder="Enter your description here" name="description2" id="description2">
          <h5>Max 200 Characters</h5>
        </div> -->
        <!--  <div class="form-group">
         <label>Availability</label>
          <input type="text" class="form-control" placeholder="Enter about your available time  (mention your time zone as well)" name="availability">
        </div> -->
       <div class="row">
         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
          <div class="form-group">
           <label>Price </label>a
            <!-- <div class="price_box">
              <img src="images/doller-icon.png" alt="images">
              <input type="text" class="form-control" name="onlynumbers" placeholder="Ex. 200" id="price" required="required">
            </div> -->
             <select name="price" id="price" class="form-control" required="required">
              <option>Select Price</option>
               <% for (i = 0.49; i <= 999.99 ; i+=0.50) { %>
                <option value="<%= parseFloat(i).toFixed(2) %>">$ <%= parseFloat(i).toFixed(2) %></option>
              <% } %>
            </select>
          </div>          
         </div>
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
          <div class="form-group">
           <label>Live Chat Schedule</label>
            <select name="frequency" id="frequency" class="form-control" required="required">
              <option>Select Schedule</option>
              <option value="1">Daily</option>
              <option value="7">Weekly</option>
              <option value="15">Bi-weekly</option>
              <option value="30">Monthly</option>
              <option value="365">Yearly</option>
            </select>
          </div>
        </div>
        </div>
        <div class="form-group">
         <label>Add image for your Live Chat</label>
          <div id="file-upload-form" class="uploader">
            <input type="hidden" name="thumbnai" id="thumbnailImage" value=""></input>
            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />
            <label class="file_upload_label" for="file-upload" id="file-drag">
              <img id="file-image" src="#" alt="Preview" class="hidden">
              <div id="start">
                 <h2>+</h2> <h4 id="file-upload-btn">Click or Drag & Drop Your Own Image Here</h4>
                <div id="notimage" class="hidden color_sell">Please select an image</div>
              </div>
             <!--  <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                  <span>0</span>%
                </progress>
              </div> -->
            </label>
          </div>

          
          <div class="cover_img_optn">
            <ul>
              <!--               <li><a href="#"><span><i class="far fa-edit"></i></span> Click to edit picture</a></li>
               -->           <li><a onclick="ImgDelete();" style="cursor: pointer;"><span><i class="far fa-trash-alt"></i></span> Remove Picture</a></li>
            </ul>
          </div>
         
        </div>
          <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row mx-0">
                   <!--  <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected" data-target="#myCarousel" data-slide-to="0">
                      <img src="/thumbnail/Image_v1.png" alt="...">
                    </div> -->
                    <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="1">
                      <img src="/thumbnail/Image_v2.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="2">
                      <img src="/thumbnail/Image_v3.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="3">
                      <img src="/thumbnail/Image_v4.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="4">
                      <img src="/thumbnail/Image_v5.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="5">
                      <img src="/thumbnail/Image_v6.png" class="img-fluid" alt="...">
                    </div>
                     <div id="carousel-selector-10" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="10">
                      <img src="/thumbnail/Image_v11.png" class="img-fluid" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row mx-0">
                    <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="6">
                      <img src="/thumbnail/Image_v7.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="7">
                      <img src="/thumbnail/Image_v8.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="8">
                      <img src="/thumbnail/Image_v9.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="9">
                      <img src="/thumbnail/Image_v10.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-11" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="9">
                      <img src="/thumbnail/Image_v12.png" class="img-fluid" alt="...">
                    </div>
                     <div id="carousel-selector-27" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="27">
                      <img src="/thumbnail/Image_v28.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2 px-1 py-2"></div>
                    <div class="col-2 px-1 py-2"></div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row mx-0">
                    <div id="carousel-selector-12" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="12">
                      <img src="/thumbnail/Image_v13.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-13" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="13">
                      <img src="/thumbnail/Image_v14.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-14" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="14">
                      <img src="/thumbnail/Image_v15.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-15" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="15">
                      <img src="/thumbnail/Image_v16.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-16" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="16">
                      <img src="/thumbnail/Image_v17.png" class="img-fluid" alt="...">
                    </div>
                     <div id="carousel-selector-28" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="28">
                      <img src="/thumbnail/Image_v29.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2 px-1 py-2"></div>
                    <div class="col-2 px-1 py-2"></div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row mx-0">
                    <div id="carousel-selector-17" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="17">
                      <img src="/thumbnail/Image_v18.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-18" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="18">
                      <img src="/thumbnail/Image_v19.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-19" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="19">
                      <img src="/thumbnail/Image_v20.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-20" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="20">
                      <img src="/thumbnail/Image_v21.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-21" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="21">
                      <img src="/thumbnail/Image_v22.png" class="img-fluid" alt="...">
                    </div>
                     <div id="carousel-selector-31" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="31">
                      <img src="/thumbnail/Image_v32.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2 px-1 py-2"></div>
                    <div class="col-2 px-1 py-2"></div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row mx-0">
                    <div id="carousel-selector-22" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="22">
                      <img src="/thumbnail/Image_v23.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-23" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="23">
                      <img src="/thumbnail/Image_v24.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-24" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="24">
                      <img src="/thumbnail/Image_v25.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-25" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="25">
                      <img src="/thumbnail/Image_v26.png" class="img-fluid" alt="...">
                    </div>
                    <div id="carousel-selector-26" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="26">
                      <img src="/thumbnail/Image_v27.png" class="img-fluid" alt="...">
                    </div>
                     <div id="carousel-selector-30" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel" data-slide-to="30">
                      <img src="/thumbnail/Image_v31.png" class="img-fluid" alt="...">
                    </div>
                    <div class="col-2 px-1 py-2"></div>
                    <div class="col-2 px-1 py-2"></div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
          <br>
        <div class="createpackage_form_btns">
          <a href="/services"  class="btn cmn_btn btn_danger" style="color: white;border-color: white;">Cancel</a>
          <button type="submit" class="btn cmn_btn btn_primary">Publish Service</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

</div>
<!-- Page Content Start -->

  <%- include partials/innerfooter %>


<style type="text/css">
  .carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
</style>
<script type="text/javascript">
  $('#myCarousel').carousel({
  interval: false
});
$('#carousel-thumbs').carousel({
  interval: false
});

// handles the carousel thumbnail
// https://stackoverflow.com/questions/25752187/bootstrap-carousel-with-thumbnail-multiple-carousel
$('[id^=carousel-selector-]').click(function() {
  var id_selector = $(this).attr('id');
  var id = parseInt( id_selector.substr(id_selector.lastIndexOf('-') + 1) );
  $('#myCarousel').carousel(id);
});
// Only display 3 items in nav on mobile.
// if ($(window).width() < 575) {
//   $('#carousel-thumbs .row div:nth-child(4)').each(function() {
//     var rowBoundary = $(this);
//     $('<div class="row mx-0">').insertAfter(rowBoundary.parent()).append(rowBoundary.nextAll().addBack());
//   });
//   $('#carousel-thumbs .carousel-item .row:nth-child(even)').each(function() {
//     var boundary = $(this);
//     $('<div class="carousel-item">').insertAfter(boundary.parent()).append(boundary.nextAll().addBack());
//   });
// }
// Hide slide arrows if too few items.
if ($('#carousel-thumbs .carousel-item').length < 2) {
  $('#carousel-thumbs [class^=carousel-control-]').remove();
  $('.machine-carousel-container #carousel-thumbs').css('padding','0 5px');
}
// when the carousel slides, auto update
$('#myCarousel').on('slide.bs.carousel', function(e) {
  var id = parseInt( $(e.relatedTarget).attr('data-slide-number') );
  $('[id^=carousel-selector-]').removeClass('selected');
  $('[id=carousel-selector-'+id+']').addClass('selected');
});
// when user swipes, go next or previous
// $('#myCarousel').swipe({
//   fallbackToMouseEvents: true,
//   swipeLeft: function(e) {
//     $('#myCarousel').carousel('next');
//   },
//   swipeRight: function(e) {
//     $('#myCarousel').carousel('prev');
//   },
//   allowPageScroll: 'vertical',
//   preventDefaultEvents: false,
//   threshold: 75
// });
/*
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
*/

$('#carousel-thumbs .carousel-item img').on('click', function(e) {
  // alert(e.target.src);
  $('#file-image').attr('src', e.target.src);
  document.getElementById('file-image').style.display= "block";
  // var src = $(e.target).attr('data-remote');
  // // alert(src);
  // if (src) $(this).ekkoLightbox();
  var imgUrl = e.target.src; 
// alert(imgUrl);
$("#thumbnailImage").val(imgUrl);

function getBase64Image(imgUrl) {
  return new Promise(
    function(resolve, reject) {

      var img = new Image();
      img.src = imgUrl;
      img.setAttribute('crossOrigin', 'anonymous');

      img.onload = function() {
        var canvas = document.createElement("canvas");
        canvas.width = img.width;
        canvas.height = img.height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);
        var dataURL = canvas.toDataURL("image/png");
        resolve(dataURL.replace(/^data:image\/(png|jpg);base64,/, ""));
      }
      img.onerror = function() {
        reject("The image could not be loaded.");
      }

    });

}

let base64image = getBase64Image(imgUrl).then(function(base64image) {
  //alert(base64image);

    var file = "data:image/png;base64,"+base64image;
    //alert(file);

    fileconvert(file);
   
   

  });
});
</script> 

  <script type="text/javascript">

  // $(function(){
  // $("input[name='onlynumbers']").on('input', function (e) {
  //     $(this).val($(this).val().replace(/[^0-9]/g, ''));
  //   });
  // });

   var userName =  "<%= userName %>"

  var tokens = "<%= tokens %>";
  // alert(tokens);
  
  var userids = "<%= userid %>";

 function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#file-image').attr('src', e.target.result);
      document.getElementById('file-image').style.display= "block";
    }
    
    reader.readAsDataURL(input.files[0]); // convert to base64 string
  }
}

$("#file-upload").change(function() {
  readURL(this);
});

function ImgDelete(){
  document.getElementById('file-image').style.display= "none";
}


$("#formoid").submit(function(event){

  var title = $('#title').val();
  var userId = userids;
  var serviceName = $('#serviceName').val();
  var descriptionOne = $('#description1').val();
  var serviceTypeId = $('#serviceTypeIds').val();
  var descriptionTwo = $('#description2').val();
  var thumbnailImageURL = $('#thumbnailImage').val();
  // var frequency = $('#frequency').val();
  var price = $('#price').val();
  var imageDetails = $('#file-image').val();
   var frequencyss = $("#frequency option:selected").val();
  var stripeProductName = userName +'_'+ serviceName +'_'+ frequencyss;
  
  var file = document.getElementById("file-upload").files[0];
  // alert(file);
  var fullPath = $("#file-upload").val();    
  var filename = fullPath.replace(/^.*[\\\/]/, '');
  // alert(filename);
 var formdata = new FormData();
    formdata.append("title", title);
    formdata.append("serviceTypeId", serviceTypeId);
    formdata.append("descriptionOne", descriptionOne);
    formdata.append("descriptionTwo", descriptionTwo);
    formdata.append("thumbnailImageURL", thumbnailImageURL);
    formdata.append("stripeProductName", stripeProductName);
    formdata.append("frequency", frequencyss);
    formdata.append("price", price);
    formdata.append("mentorId", userId);
    if(filename == ""){
    // alert("null");
      formdata.append("imageDetails", "");

    }else{
    // alert("not null");
      formdata.append("imageDetails", file , filename);

    }
    var requestOptions = {
      method: 'POST',
      headers: {
              Authorization: 'Bearer '+ tokens
            },
      body: formdata,
      redirect: 'follow'
    };

    fetch("https://apistest.tradetipsapp.com/api/serviceMentorSubscriptionPlan/addServiceSubscriptionPlanByMentor", requestOptions)
      .then(response => response.json())
      .then(result => {
                // alert("calling val" +result);
                // alert(JSON.stringify(result));
                var datak = JSON.stringify(result);
                // alert(datak);
                var dataResultp = JSON.parse(datak); 
                // alert(dataResultp.title);
                $(".successmsg").html('<span>"Your chatroom '+dataResultp.title+' submitted successfully."</span>');
               setTimeout(function(){$(".successmsg").empty()}, 2000);
               setTimeout(function(){
               // window.location.reload(1);
               window.location.href = "/services"; 
               }, 2000);
                //window.location.reload();

       })
      .catch(error => console.log('error', error));


  });

  </script>

   