<%- include partials/innerheader %>


  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/emoji.css">
  <link rel="stylesheet" href="css/chatWindowAdminUser.css">

  <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">


  <!-- emoji picker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"
    integrity="sha512-hkvXFLlESjeYENO4CNi69z3A1puvONQV5Uh+G4TUDayZxSLyic5Kba9hhuiNLbHqdnKNMk2PxXKm0v7KDnWkYA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.css"
    integrity="sha512-0Nyh7Nf4sn+T48aTb6VFkhJe0FzzcOlqqZMahy/rhZ8Ii5Q9ZXG/1CbunUuEbfgxqsQfWXjnErKZosDSHVKQhQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.js"
    integrity="sha512-aGWPnmdBhJ0leVHhQaRASgb0InV/Z2BWsscdj1Vwt29Oic91wECPixuXsWESpFfCcYPLfOlBZzN2nqQdMxlGTQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"
    integrity="sha512-vEia6TQGr3FqC6h55/NdU3QSM5XR6HSl5fW71QTKrgeER98LIMGwymBVM867C1XHIkYD9nMTfWK2A0xcodKHNA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


  <script>
    window.addEventListener("load", function () {

      // alert("<%= fcmToken %>");

      var fcmToken = "<%= fcmToken %>";

      var userName = "<%= userName %>";


      var tokens = "<%= tokens %>";
      // alert(tokens);

      var LoggedInId = "<%= userid %>";

      $("#user_nickname").val(userName);
      $('#user_id').val(LoggedInId);
      $("#user_fcm_token").val(fcmToken);
      $("#tokenval").val(tokens);
      // var today = new Date();
      // // alert(today);
      // var str = today.toDateString().split(' ').slice(1).join(' ') + " at " + today.toLocaleTimeString() + " GMT+5:30";
      // // alert(str);
      // $('#dateval').val(str);


      firebase.auth().signInWithCustomToken(fcmToken)
        .then((userCredential) => {
          // Signed in
          // console.log(userCredential);
          var user = userCredential.user;
          // var ids = userCredential.uid;
          console.log(user.uid);
          // ...
        })
        .catch((error) => {
          console.log("error is" + error);
          var errorCode = error.code;
          var errorMessage = error.message;
          // ...
        });
    });
  </script>

  <!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 -->
  <div class="app_main">

    <%- include partials/innersidebar %>


      <div class="app_content">
        <div class="dsbrd_container">
          <div class="app_header_content">

            <div class="dashboard_wrapper mentordashboard1_wrapper card" style="background: #ffff;">
              <!-- <div class="dsbrd_container"> -->
              <div class="app_header_content_left">
              </div>
              <div class="card-header text-center" style="border: none!important;">
                <span><b id="room-button-2"></b></span>
              </div>
              <div class="room">
                <span>
                  <a class="rooms" role="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Rooms <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                      <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    </svg></a>

                  <div class="dropdown-menu" aria-labelledby="dropdownUser" id="roomslist">
                    <ul>
                      <li><a href="/chatWindow">

                          <span id="room-Button-1"></span>
                        </a>
                      </li>
                      <li><a href="/chatWindowAdminUser">

                          <span id="room-Button-2"></span>
                        </a>
                        <div class="modal fade" id="exampleModalCenterpin" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div>
                                <h5 class="header-flag" id="exampleModalLongTitle">Enter Room Code</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>

                              <div class="pincode">
                                <div class="reasonFlag">
                                  <form id="formoid" enctype="multipart/form-data" onsubmit="return false">
                                    <input type="password" id="pcode" class="pin" placeholder="Enter Code Here" />
                                    <br>
                                    <button type="submit" class="Btn_P btn btn-primary" id="Btn_Pop">Submit</button>
                                  </form>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </li>
                      <li><a href="/soicalChat">

                          <span id="room-Button-3"></span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </span>
                <div class="app_header_content_right" style="position:absolute">
                  <ul class="d-flex">

                    <li class="header_right_menu">


                      <div class="dropdown user_dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownUser" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <!--  <img src="images/Blue_user.png" alt="images"> -->
                          <p><span id="tasksuserlisttotal"></span></p>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownUser" id="tasksuserlist">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- </div> -->
              <!-- </div> -->


              <div id="fountainG">
                <div id="fountainG_1" class="fountainG"></div>
                <div id="fountainG_2" class="fountainG"></div>
                <div id="fountainG_3" class="fountainG"></div>
                <div id="fountainG_4" class="fountainG"></div>
                <div id="fountainG_5" class="fountainG"></div>
                <div id="fountainG_6" class="fountainG"></div>
                <div id="fountainG_7" class="fountainG"></div>
                <div id="fountainG_8" class="fountainG"></div>
              </div>
              <div class="card-body chat-care">
                <ul class="chat" id="tasks">
                </ul>
              </div>


              <div class="card-footer" style="padding: 0px;">
                <form onsubmit="return handleCreate(event)">

                  <div class="input-group">
                    <input type="hidden" id="user_id">
                    <input type="hidden" id="user_nickname">
                    <input type="hidden" id="user_fcm_token">
                    <input type="hidden" id="tokenval">
                    <!--  <input type="hidden" id="dateval"> -->
                    <span class="input-group-btn">
                      <input type="file" id="imageUploaddata" style="display: none;">
                      <!-- <span class="name">No file selected</span> -->
                      <i class="fa fa-paperclip attachment btn btn-primary" aria-hidden="true"
                        style="height: 38px;"></i>

                    </span>
                    <!-- <input id="btn-input" type="text" onkeypress="myFunctions(event)" class="form-control input-lg"
                      placeholder="Type your message here..." autocomplete="off" /> -->
                    <textarea cols="100" class="form-control" id="editor1" name="editor1" rows="2"
                      style="width: 100%; height:30px"></textarea>
                    
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit" id="Btn_1">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                      </button>
                    </span>

                  </div>
                </form>
              </div>
            </div>




          </div>

        </div>
      </div>
      <!-- </div> -->

  </div>

  </div>
  </div>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 -->

  <script>


// $(".card-body").animate({ scrollTop: $(document).height() }, "fast");

// $(document).ready(function() {
//     $('.card-body').animate({
//         scrollTop: $('.card-body').get(0).scrollHeight
//     }, 1000);
// });
  </script>

  <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>

  <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-firestore.js"></script>

  <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase.js"></script>


  <script src="js/adminListData-1.js"></script>

  <script type="text/javascript" src="js/custom.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



  <script src='js/inputEmoji.js'></script>

  <script src="https://cdn.ckeditor.com/4.19.1/standard-all/ckeditor.js"></script>

  <script>
    function FunctionClicks(e) {

      // alert(e);

      //  var dataID =  document.getElementById("IDData").value
      var dataIDs = document.getElementsByTagName("li")
      //  console.log(dataID);
      // console.log(dataIDs);
      //  var MM = document.getElementById("#cke_1532").innerText
      //  console.log(MM)

      var mm1 = document.getElementsByClassName("cke_autocomplete_selected")[0].innerText
      console.log(mm1)

      document.getElementById("pTag").innerHTML = mm1
    }
  </script>
  <script>

    var formData = { appUserName: "all" };
    $.ajax({
      type: "POST",
      url: "https://apistest.tradetipsapp.com/api/appUser/getAllUserDetails",
      data: formData,
      success: function (datan) {
        var dataks = JSON.stringify(datan);
        var users = JSON.parse(dataks);





        CKEDITOR.replace('editor1', {
          plugins: 'mentions,emoji,basicstyles,undo,link,wysiwygarea,toolbar, pastefromgdocs, pastefromlibreoffice, pastefromword',
          contentsCss: [
            'http://cdn.ckeditor.com/4.19.1/full-all/contents.css',
            'https://ckeditor.com/docs/ckeditor4/4.19.1/examples/assets/mentions/contents.css'
          ],
          height: "50px",
          width: "92%",
          toolbarLocation: 'bottom',
          toolbar: [{
            name: 'document',
            items: ['Undo', 'Redo']
          },
          {
            name: 'basicstyles',
            items: ['Bold', 'Italic', 'Strike']
          },
          {
            name: 'links',
            items: ['EmojiPanel', 'Link', 'Unlink']
          }
          ],
          mentions: [{
            feed: dataFeed,
            itemTemplate: '<li data-id="{id}" id="IDData" onclick="FunctionClicks(this.id)">' +
              '<img class="photo" src="" />' +
              '<strong class="userName">{userName}</strong>' +
              '<span class="fullname"></span>' +
              '</li>',
            outputTemplate: '<a><b id="IDA" style="color:blue">@{userName}<b></a><span>&nbsp;</span>',

            minChars: 0
          },
          // {
          //   //  feed: tags,
          //   // marker: '#',
          //   itemTemplate: '<li data-id="{id}"><strong>{name}</strong></li>',
          //   // outputTemplate: '<a href="https://example.com/social?tag={name}">{name}</a><span>&nbsp;</span>',
          //   minChars: 1
          // }
          ],
          removeButtons: 'PasteFromWord'
        });



        function dataFeed(opts, callback) {
          var userNamescs = "<%= userName %>";
          var matchProperty = 'userName';
          var countdata = users.filter(function(s) { return s.userName != userNamescs });
            data = countdata.filter(function (item) {
              // console.log(item) 
              return item[matchProperty].indexOf(opts.query.toLowerCase()) == 0;

            });


          data = data.sort(function (a, b) {
            return a[matchProperty].localeCompare(b[matchProperty], undefined, {
              sensitivity: 'accent'
            });
          });

          callback(data);
        }

      },
    });
  </script>


  <script type="text/javascript">
    function myFunctions(event) {
      const utilityteam = document.getElementById("myTables");
      var unicodes = event.charCode;
      if (unicodes == 64) {
        let newuser = [];
        var formData = { appUserName: "all" };
        $.ajax({
          type: "POST",
          url: "https://apistest.tradetipsapp.com/api/appUser/getAllUserDetails",
          data: formData,
          success: function (datan) {
            var dataks = JSON.stringify(datan);
            var dataResults = JSON.parse(dataks);
          },
        });


      } else {

        if (unicodes == 32) {
          var edValue = document.getElementById('btn-input');

          var s = edValue.value;

          var str = s;
          str = str.substring(str.lastIndexOf(" ") + 1);
          str1 = s.substring(0, s.length - str.length);
          let result = str.slice(1);

          var formData = { appUserName: "all" };
          $.ajax({
            type: "POST",
            url: "https://apistest.tradetipsapp.com/api/appUser/getAllUserDetails",
            data: formData,
            success: function (datan) {
              var dataks = JSON.stringify(datan);
              var dataResults = JSON.parse(dataks);
              //  console.log(dataResults);
              var countdataa = dataResults.filter(function (s) {
                return s.userName == result;
              });

              if (countdataa.length == 0) {
                // alert("no user found")
              } else {
                // alert("user found")
                str = str.bold();
                console.log(str)

                document.getElementById('btn-input').value = str1 + str;
              }
            },
          });
        }
      }
    }
  </script>

  <script>



    $("#tasksuserlisttotal").on("click", function () {
      $("body").addClass("open__sidebar");
    });
    $(".app_header").on("click", function () {
      $("body").removeClass("open__sidebar");
    });

    $(function () {
      $('#btn-input').emoji({ place: 'after' });

      $('.emoji-button').on("click", function (e) {
        if ($('.emojis').is(":visible")) {
          console.log('click')
        }
      })

      $('emojis').on("hide", function () {
        //alert('hide');
      })
      $('emojis').on("show", function () {
        //alert('show');
      })

    })

  </script>
  <br>
  <script src="js/vanillaEmojipicker.js"></script>

  <script>
    var preloader = document.getElementById("fountainG");

    window.addEventListener("load", function () {
      preloader.style.display = "none"
    })
  </script>

  <script>

    $(document).keypress(function (e) {

      if (e.which == 13) {
        e.preventDefault();
        $('#Btn_1').click();
        //  alert('Click button was trigger');
      }
    });
  </script>


  </body>

  </html>